*{margin: 0px;}

.layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
/*=================================Header Start==============================*/

header{

    width: 100%;
    height: 15%;

    background-color: rgb(17, 17, 17);

    color: rgb(206, 0, 0);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    font-family: 'Libre Franklin', sans-serif;
}
h1{
    margin-left:10px;

      font-family: 'Libre Franklin', sans-serif;

      font-size: 200px;
      text-shadow: 3px 6px 1px #ffffff;
}

.menu li{
    margin: 50px;
    float: left;
    font-size: 20px;
    
    list-style: none;
}

.menu a{
    color: rgb(151, 151, 153);
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(254, 254, 255);
    font-size: 30px;
}


@media screen and (max-width: 700px){

    .menu li{

        display: none;

    }


}

/*================================Header End==============================*/


/*============================Main Start===================================*/

main{
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;

    background-color: rgb(30, 30, 32);
}
/*=============================Poster 1-10 Start=========================*/

.container1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.container1 img{
    margin: 20px;
    width: 200px;
    height: 300px;
}
/*=============================Poster 1-10 End=========================*/


/*===========================Poster 10-12 Start=========================*/

.container2{
    display: flex;
   justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container2 img{
     margin: 20px;
    width: 560px;
    height: 750px;
}

/*===========================Poster 10-12 End=========================*/





/*=================================Main End==============================*/



/*=================================Footer Start==============================*/
footer{
    width: 100%;
    height: 30%;

    
    background-color: rgb(17, 17, 17);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer li{
    margin-bottom: 7px;
    list-style: none;
    color: rgb(255, 255, 255);
    
}

footer ul{
    margin: 40px;
}
/*===============================Footer End================================*/

